<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosa.app.mapper.CommentMapper">
	<insert id="insertComment" parameterType="CommentDTO">
		INSERT INTO t_comment(cno, reply, author, password, ano)
		VALUES(t_comment_no_seq.nextval, #{reply}, #{author}, #{password}, #{ano})
	</insert>
	
	<select id="getCommentList" resultType="CommentDTO">
		SELECT reply, author, createdAt FROM t_comment WHERE ano=#{ano}
	</select>

	<update id="updateComment" parameterType="CommentDTO">
		UPDATE t_comment SET reply=#{reply}, author=#{author} WHERE ano=#{ano} AND password=#{password}
	</update>
	
	<delete id="deleteComment" parameterType="CommentDTO">
		DELETE FROM t_comment WHERE ano=#{ano} AND password=#{password}
	</delete>
</mapper>